body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: black;
    color: white;
    text-align: center;
    font-weight: normal;
}

h1 {
    font-size: 50px;
    font-weight: normal;
}

a {
    color: aquamarine;
}

video {
    position: relative;
    top: 2rem;
}

h2 {
    font-weight: 300;
    font-size: 2.625rem;
    position: relative;
    top: 2rem;
}

p {
    font-size: 1.3125rem;
    color: gray;
    position: relative;
    top: 1rem;
}

footer {
    text-align: right;
}